# History files
R/.Rhistory
R/.Rapp.history

# Session Data files
R/.RData

# Example code in package build process
R/*-Ex.R

# Output files from R CMD build
R/*.tar.gz

# Output files from R CMD check
R/*.Rcheck/

# RStudio files
R/.Rproj.user/

# produced vignettes
R/vignettes/*.html
R/vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
R/.httr-oauth

# knitr and R markdown default cache directories
R/*_cache/
R/cache/

# Temporary files created by R markdown
R/*.utf8.md
R/*.knit.md

# Data files, for privacy protection purposes
data/*
